body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.greenExample {
  flex: 1;
  background-color: green;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.redExample2 {
  width: 80px;
  background-color: red;
}

.smallExample {
  width: 50px;
  height: 50px;
  background-color: red;
}

.centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cut {
  display: flex;
  align-items: center;
}

.greenExample2 {
  flex: 1;
  background-color: green;
  display: flex;
  height: 20px;
  margin-top: 20px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.yellowExample2 {
  width: 80px;
  background-color: yellow;
  justify-content: space-between;
}

.greenItem {
  width: 20px;
  background-color: green;
}

.yellowExample {
  flex: 1;
  background-color: yellow;
  display: flex;
  position: relative;
  justify-content: space-around;
}
